<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="/css/Animates.css">
	<link rel="stylesheet" href="/css/DelayAnimates.css">
	<link rel="stylesheet" href="/css/HomeCss.css">	    
</head>
<body>
    {{{body}}}

    <script src="/jquery/dist/jquery.min.js"> </script>
	<script src="/popper.js/dist/umd/popper.min.js"> </script>
	<script src="/bootstrap/dist/js/bootstrap.min.js"> </script>
	<script src="/sweetAlert2/dist/sweetalert2.min.js"> </script>
	<script src="/sweetAlert2/dist/sweetalert2.all.min.js"> </script>
	<script src="/javascript/Validacoes.js"> </script>
</body>
</html>