<head>
	<title>Home</title>
</head>

<body>
	<div id="container" class="p-2 pt-5">
		<div id="divEscolha"
			class="mx-auto border border-secondary rounded col-md-6 col-11 my-5 shadow-lg py-4 animated fadeInDown"
			role="alert" style="background-color: rgb(255, 255, 255, 0.2);">
			<h1 class="display-4 lead text-center">SEJA BEM-VINDO !</h1>
			<h1 class="lead text-center mt-4">É novo por aqui ou ja tem uma conta ?</h1>

			<div class="row">
				<form id="escolha" action="/escolha" method="POST">
					<input type="submit" value="FAZER LOGIN" class="text-primary mt-4 btn ml-3"
						style="background:rgb(255, 255, 255, 0.0); font-size:30px">
				</form>
				<a href="" class="text-primary mt-4 btn ml-auto mr-3"
					style="background:rgb(255, 255, 255, 0.0); font-size:30px">CADASTRAR-SE</a>
			</div>
		</div>

		<div id="divLogin" class="d-none mx-auto border border-secondary rounded col-md-6 col-11 my-5 shadow-lg py-4"
			style="background-color: rgb(255, 255, 255, 0.2);">
			<h2 class="display-4 text-center animated fadeInUp" role="alert"> LOGIN </h2>

			<form id="formLogin" method="POST" action="/login" class="px-4">
				<p class="text-center lead mt-4 animated fadeInUp delay0" role="alert">E-mail ou CPF</p>
				<input name="userLogin" id="userLogin" type="text"
					class="mx-auto form-control animated fadeInUp delay1 backForm" role="alert">
				<div id="erroUser" class="d-none">Informe seu e-mail ou cpf !</div>

				<p class="text-center lead mt-3 animated fadeInUp delay2" role="alert">Senha</p>
				<input name="passLogin" id="passLogin" type="password"
					class="mx-auto form-control animated fadeInUp delay3 backForm" role="alert">
				<div id="erroPass" class="d-none">Informe sua senha !</div>

				<div class="row mt-4 px-3">
					<input type="submit" value="ENTRAR"
						class="col-md-6 col-12 btn btn-outline-light animated fadeInUp delay4" role="alert">
					<a href="#" class="col-md-6 col-12 text-md-right text-center pt-2 lead animated fadeInUp delay4"
						role="alert">Esqueci minha senha</a>
				</div>
			</form>
			<div class="text-center mt-3">
				<a href="" class="text-primary lead animated fadeInUp delay4" role="alert">CADASTRAR-SE</a>
			</div>

			{{#each erro}}
				<div class="bg-danger">{{erro}}</div>
			{{else}}

			{{/each}}
		</div>
	</div>
</body>