<head>
    <title>Sucesso Departamento</title>
</head>

<body>
    <div class="display-4 text-center text-primary">{{msg}}</div>
    <h1 class="text-center lead mt-2" style="font-size: 45px;">ID: {{idDepart}} </h1>
    <h1 class="text-center lead mt-2" style="font-size: 45px;">Departamento: {{nomeDepart}} </h1>
    <div class="text-center mt-3"> <a href="/" style="font-size: 25px;">VOLTAR</a> </div>
</body>