<head>
    <title>Sucesso</title>    
</head>

<body>
    <div class="p-2 mx-auto border border-secondary rounded col-md-6 col-11 my-5 shadow-lg py-4 animated fadeInDown"
        role="alert" style="background-color: rgb(255, 255, 255, 0.2);">
        <div class="display-4 text-center text-primary">DEPARTAMENTO CRIADO COM SUCESSO</div>
        <h1 class="text-center lead mt-2" style="font-size: 45px;">ID: {{id}} </h1>
        <h1 class="text-center lead mt-2" style="font-size: 45px;">Departamento: {{nome}} </h1>
        <div class="text-center mt-3"> <a href="/viewDepartamentos" style="font-size: 25px;">VOLTAR</a> </div>
    </div>
</body>