<head>	
	<title>Acesso aos Departamentos</title>	
	<link rel="stylesheet" href="/css/StylesInput.css">
</head>

<body>
	<div class="p-2 mx-auto border border-secondary rounded col-md-6 col-11 my-5 shadow-lg py-4 animated fadeInDown" role="alert" style="background-color: rgb(255, 255, 255, 0.2);">

		<h1 class="lead text-center" style="font-size: 40px;">CADASTRO DE DEPARTAMENTOS</h1>
		<form action="" method="POST" id="CadDepart" class="form px-4">
			<!--NOME-->
			<input type="text" name="nome" id="nome" placeholder="*Nome do departamento" class="form-control backForm mx-auto mt-4">
            <div class="d-none" id="nomeInvalido" name="nomeInvalido">Por favor, informe o nome do departamento!</div>
            		
			<!-- BOTOES --->			
			<input name="cadastrar" class="btn btn-success mx-auto mt-4" type="submit" value="Cadastrar">										
		</form>
	</div>
</body>