<head>
	<title>Escolha ADM</title>	
</head>

<body>
	<div id="container" class="p-2 pt-5">
		<div id="divEscolha" class="mx-auto border border-secondary rounded col-md-6 col-11 my-5 shadow-lg py-4 animated fadeInDown" role="alert" style="background-color: rgb(255, 255, 255, 0.2);">
			<h1 class="lead text-center" style="font-size: 40px;">Qual página deseja acessar ?</h1>
			
			<form method="POST" action="/viewFuncionarios" class="mt-4">
				<input type="submit" class="btn btn-success btn-lg col-12" value="FUNCIONÁRIOS">
			</form>
			<form method="POST" action="/viewDepartamentos" class="mt-4">
				<input type="submit" class="btn btn-success btn-lg col-12" value="DEPARTAMENTOS">
			</form>				
			
        </div>
    </div>    	
</body>