<head>
    <title>ALTERAR FUNCIONÁRIO</title>
</head>

<body>
    <h1 class="lead text-center" style="font-size: 40px;">ALTERAÇÃO DE FUNCIONÁRIO</h1>

    <form  id="formAtt" class="px-2">
        <!--ID-->
        <input type="text" name="id" id="id" placeholder="ID" class="form-control backForm mx-auto d-none">

        <label for="nome" class="lead mt-3">NOME</label>
        <!--NOME-->
        <input type="text" name="nome" id="nome" placeholder="Nome completo" readonly="readonly"
            class="form-control backForm mx-auto">

        <label for="email" class="lead mt-3">EMAIL</label>
        <!--EMAIL-->
        <input type="email" name="email" id="email" placeholder="E-mail" class="form-control backForm mx-auto">

        <label for="telefone" class="lead mt-3"> TELEFONE</label>
        <!--TELCELL-->
        <input type="text" name="telefone" id="telefone" placeholder="Tel Celular" class="form-control backForm mx-auto">

        <label for="idDepart" class="lead mt-3">ID DEPARTAMENTO</label>
        <!--DEPARTAMENTO-->
        <input type="text" name="idDepart" id="idDepart" placeholder="ID Departamento"
            class="form-control backForm mx-auto">

        <input name="cadastrar" class="col-12 mx-auto btn btn-success mt-3" onclick="return attFunc()" type="button" value="ALTERAR">
    </form>

    <div class="mt-2">        
        <input type="button" class="text-light btn btn-danger ml-2" value="DELETAR FUNCIONÁRIO" onclick="return dellFunc()">
    </div>

    <div class="text-center mt-3"> <a href="/" style="font-size: 25px;">VOLTAR</a></div>

    <script src="/jquery/dist/jquery.min.js"> </script>
    <script src="/maskedInputJquery/dist/jquery.maskedinput.min.js"> </script>
    <script src="/masks/masks_cad.js"> </script>
    <script>
        const params = window.location.pathname.split('/');
        const idFunc = params[params.length - 1];        

        fetch('/funcionarios/' + idFunc).then(async (res) =>{
            res = await res.json();
            if(res.length === 1){
                const funcionario = res[0];
                email.value = funcionario.email;
                id.value = idFunc;
                nome.value = funcionario.nome;
                telefone.value = funcionario.telefone;
                idDepart.value = funcionario.idDepart;
            }else{                
                treatmentErrorResponse({ status: 404 }, 'Funcionário');
            }
        })
        .catch((error)=>{								
            treatmentErrorResponse(error, 'Funcionário')
        });

        function attFunc(){
            const form = document.getElementById('formAtt');
            let body = {};            
            let elements = form.elements;

            for(const input of elements){
                if(input.id){
                    body[input.id] = input.value;
                }
            }

            body = JSON.stringify(body);
            
            fetch('/funcionarios', {
                method: 'PATCH',
                body,
                headers: { 'Content-Type': 'application/json' }
            }).then(async (res)=>{
				if(res.status === 202){
					dialogCentralTemporary(`Funcionário ${nome.value} atualizado com sucesso!`);
					await sleep(2550)                   
                    window.location.href = '/';
				}else{					
					treatmentErrorResponse(res, 'Funcionário');									
				}
			})
			.catch((error)=>{								
				treatmentErrorResponse(error, 'Funcionário');			
			});            
        }

        function dellFunc(){
            fetch('/funcionarios/' + idFunc, { method: 'DELETE' })
            .then(async (res)=>{
                if(res.status === 202){
	                dialogCentralTemporary(`Funcionário ${nome.value} deletado com sucesso!`);
					await sleep(2550)                   
                    window.location.href = '/';
                }
            }).catch((error) =>{
                treatmentErrorResponse(error, 'Funcionário');			

            })
        }
    </script>
</body>