<head>
    <title>Alterar Departamentos</title>    
</head>

<body>
    <h1 id="title" class="lead text-center" style="font-size: 40px;">ALTERAÇÃO DE DEPARTAMENTOS</h1>
    <form class="form px-4">
        <div class="mt-3">
            <!--ID DEPARTAMENTO-->
            <label for="idDepart" class="lead">ID do Departamento:</label>
            <input type="number" name="idDepart" id="idDepart" class="form-control backForm ml-auto" readonly="readonly">
            <!--NOME-->
            <label for="nomeDepart" class="lead mt-4">Nome do departamento</label>
            <input type="text" name="nomeDepart" id="nomeDepart" placeholder="*Novo Nome do departamento"
                class="form-control backForm ml-auto">
        </div>

        <input class="btn btn-success mx-auto mt-3 col-12" onclick="attDepart()" type="button" value="ALTERAR">
    </form>
    
    <input type="button" class="mt-2 ml-4 text-light btn btn-danger" onclick="dellDepart()" value="DELETAR DEPARTAMENTO">    

    <div class="text-center"> <a href="/" class="mt-4" style="font-size: 25px;">VOLTAR</a> </div>    

    <script>
        const params = window.location.pathname.split('/');
        const idDepart = params[params.length - 1];                
        const form = document.getElementById('formAtt');
        const idDepartElem = document.getElementById('idDepart');
        const nomeDepartElem = document.getElementById('nomeDepart');

        fetch('/departamentos/' + idDepart).then(async (res) =>{
            res = await res.json();
            if(res.length === 1){                
                idDepartElem.value = res[0].idDepart;
                nomeDepartElem.value = res[0].nomeDepart;
            }else{                
                treatmentErrorResponse({ status: 404 }, 'Departamento');
            }
        })
        .catch((error)=>{								
            treatmentErrorResponse(error, 'Departamento')
        });

        
        function attDepart(){            
            
            let body = { idDepart, nomeDepart: nomeDepartElem.value };                        
            body = JSON.stringify(body);
            
            fetch('/departamentos', {
                method: 'PATCH',
                body,
                headers: { 'Content-Type': 'application/json' }
            }).then(async (res)=>{
				if(res.status === 202){
					dialogCentralTemporary(`Departamento ${idDepart} atualizado com sucesso!`);
					await sleep(2550)                   
                    window.location.href = '/';
				}else{					
					treatmentErrorResponse(res, 'Departamento');									
				}
			})
			.catch((error)=>{								
				treatmentErrorResponse(error, 'Departamento');			
			});            
        }

        function dellDepart(){
            fetch('/departamentos/' + idDepart, { method: 'DELETE' })
            .then(async (res)=>{
                if(res.status === 204){
	                dialogCentralTemporary(`Departamento ${idDepart} deletado com sucesso!`);
					await sleep(2550)                   
                    window.location.href = '/';
                }
            }).catch((error) =>{
                treatmentErrorResponse(error, 'Departamento');			

            })
        }
    </script>
</body>