<head>
    <title>ALTERAR FUNCIONÁRIO</title>
</head>

<body>
    <h1 class="lead text-center" style="font-size: 40px;">ALTERAÇÃO DE FUNCIONÁRIO</h1>

    <form action="/funcionarios/attFunc" method="PATCH" class="px-2">
        <!--ID-->
        <input type="text" name="id" id="id" placeholder="ID" class="form-control backForm mx-auto d-none">

        <label for="nome" class="lead mt-3">NOME</label>
        <!--NOME-->
        <input type="text" name="nome" id="nome" placeholder="Nome completo"
            class="form-control backForm mx-auto">

        <label for="email" class="lead mt-3">EMAIL</label>
        <!--EMAIL-->
        <input type="email" name="email" id="email" placeholder="E-mail" class="form-control backForm mx-auto">

        <label for="telefone" class="lead mt-3"> TELEFONE</label>
        <!--TELCELL-->
        <input type="text" name="telefone" id="telefone" placeholder="Tel Celular" class="form-control backForm mx-auto">

        <label for="idDepart" class="lead mt-3">ID DEPARTAMENTO</label>
        <!--DEPARTAMENTO-->
        <input type="text" name="idDepart" id="idDepart" placeholder="ID Departamento"
            class="form-control backForm mx-auto">

        <input name="cadastrar" class="col-12 mx-auto btn btn-success mt-3" type="submit" value="ALTERAR">

    </form>

    <form action="/funcionarios/dellFunc/{{id}}" method="POST" class="mt-2">
        <input type="hidden" name="id" value="{{id}}">
        <input type="submit" class="text-light btn btn-danger ml-2" value="DELETAR FUNCIONÁRIO">
    </form>

    <div class="text-center mt-3"> <a href="/" style="font-size: 25px;">VOLTAR</a></div>

    <script src="/jquery/dist/jquery.min.js"> </script>
    <script src="/maskedInputJquery/dist/jquery.maskedinput.min.js"> </script>
    <script src="/masks/masks_cad.js"> </script>
    <script>
        const params = window.location.pathname.split('/');
        const idFunc = params[params.length - 1];        

        fetch('/funcionarios/' + idFunc).then(async (res) =>{
            res = await res.json();
            if(res.length === 1){
                const funcionario = res[0];
                email.value = funcionario.email;
                id.value = idFunc;
                nome.value = funcionario.nome;
                telefone.value = funcionario.telefone;
                idDepart.value = funcionario.idDepart;
            }else{
                error = btoa(
                    JSON.stringify({ errorDescription: 'Funcionário não encontrado'})
                );
                return window.location.href = window.location.origin + '/page/errorPage?errorDescription=' + error				
            }
        })
        .catch((error)=>{								
            error = btoa(error);
            window.location.href = window.location.origin + '/page/errorPage?errorDescription=' + error				
        });
    </script>
</body>