<head>
	<title>Acesso aos Departamentos</title>
	<link rel="stylesheet" href="/css/StylesInput.css">			
</head>

<body>
	<h1 class="lead text-center" style="font-size: 40px;">CADASTRO DE DEPARTAMENTOS</h1>
	<div id="formCadDepart" class="form px-4">		
		<input type="text" name="nomeDepart" id="nomeDepart" placeholder="*Nome do departamento"
			class="form-control backForm mx-auto mt-4">
		<div class="d-none" id="nomeInvalido" name="nomeInvalido">Por favor, informe o nome do departamento!
		</div>

		<input name="cadastrar" class="btn btn-success mx-auto mt-4" type="button" onclick="cadDepart()" value="Cadastrar">
	</div>

	<div class="text-center mt-3"> <a href="/" style="font-size: 25px;">VOLTAR</a> </div>		



	<script>		
		const nomeDepart = document.getElementById('nomeDepart');

		function cadDepart(){			
			const req =  { 
				method: 'POST',
				headers: { 'Content-Type': 'application/json' },
				body: JSON.stringify({ nomeDepart: nomeDepart.value })
			}			

			fetch('/departamentos', req)
			.then(async (res)=>{
				if(res.status == 201){
					popupCadastro('departamento', nomeDepart.value);
					await sleep(2500);
					nomeDepart.value = '';
				}else{					
					res = await res.json();									
					if(res.error && res.errorDescription.errorMessage.code &&
					    res.errorDescription.errorMessage.code == 'ER_DUP_ENTRY')
					{								
						genericErrors('Departamento já existente');										
					}else{
						res = btoa(res);
						window.location.href = 'errorPage?errorDescription='+res				
					}									
				}
			})
			.catch((error)=>{
				error = btoa(error);
				window.location.href = 'errorPage?errorDescription='+error				
			});
		}
	</script>	
</body>