<head>
	<title>Acesso aos Funcionários</title>	
</head>

<body>
	<h1 class="lead text-center" style="font-size: 40px;">CADASTRO DE FUNCIONÁRIO</h1>
	<div id="cadFunc" class="form px-4">
		<!--NOME-->
		<input type="text" name="nome" id="nome" placeholder="*Nome completo" class="form-control backForm mx-auto mt-4">				

		<!--EMAIL-->
		<input type="email" name="email" id="email" placeholder="*E-mail" class="form-control backForm mx-auto mt-4">

		<!--TELCELL-->
		<input type="text" name="telefone" id="telefone" placeholder="*Tel Celular" class="form-control backForm mx-auto mt-4">

		<!--DEPARTAMENTO-->
		<select name="departamento" id="departamento" class="form-control backForm custom-select mx-auto mt-4"
			onfocus="style='color:black'" onblur="style='color:white'">
			<option>*DEPARTAMENTO</option>			
		</select>

		<!--TIPO DE ACESSO-->
		<select name="acesso" id="acesso" class="form-control backForm custom-select mx-auto mt-4"
			onfocus="style='color:black'" onblur="style='color:white'">
			<option selected>*NIVEL DE ACESSO</option>
			<option>FUNCIONÁRIO</option>
			<option>ADM</option>
		</select>

		<!--SENHA-->
		<div class="row">
			<div class="col-md-6 mt-4">
				<input type="password" name="senha" id="senha" placeholder="*Senha" class="form-control backForm">
				<div class="d-none" name="senhaCurta" id="senhaCurta">A senha deve conter no mínimo 6 caracteres.</div>
			</div>
			<!--CONFIRMAR SENHA-->
			<div class="col-md-6 mt-4">
				<input type="password" name="confSenha" id="confSenha" placeholder="*Confirmar senha"
					class="form-control backForm">
				<div class="d-none" name="passErro" id="passErro">Senhas diferentes</div>
			</div>
		</div>

		<!-- BOTOES --->
		<div class="row mx-auto mt-4">
			<input name="cadastrar" class="btn btn-success col-5 mr-auto" type="button" onclick="cadFunc()" value="Cadastrar">
			<input name="limpar" class="btn btn-danger ml-auto" type="reset" value="Limpar Tudo">
		</div>
	</div>	

	<div class="text-center mt-3"> <a href="/" style="font-size: 25px;">VOLTAR</a>
	
	<script src="/maskedInputJquery/dist/jquery.maskedinput.min.js"> </script>
	<script src="/masks/masks_cad.js"> </script>
	<script>
		let tentativas = 0;

		let select_departamento = document.getElementById('departamento');		
		let email = document.getElementById('email');
		let nome = document.getElementById('nome');
		let telefone = document.getElementById('telefone');
		let senha = document.getElementById('senha');
		let confSenha = document.getElementById('confSenha');
		let acesso = document.getElementById('acesso');

		getDeparts();

		function getDeparts(){
			fetch('/departamentos/getAll')
			.then(async (res)=>{
				res = await res.json();				
				
				res.forEach(depart =>{				
					let opt = document.createElement('option');	
					opt.appendChild( document.createTextNode(depart.nomeDepart) );
					opt.value = depart.idDepart;					
					select_departamento.appendChild(opt);
				});
			})
			.catch(error=>{
				console.log(error);
				if(tentativas < 3){
					tentativas++;
					sleep(1000);
					getDeparts();
				}
			});
		}

		function cadFunc(){
			fetch('/funcionarios',{
				method: 'POST',
				headers: { 'Content-Type': 'application/json' },
				body: JSON.stringify({
					email: email.value,
					nome: nome.value,
					telefone: telefone.value,
					senha: senha.value,
					confSenha: confSenha.value,
					acesso: acesso.value,
					departamento: select_departamento.value
				})
			})
			.then(async (res)=>{
				if(res.status == 201){
					popupCadastro('funcionário', nome.value);
					await sleep(2500);
					email.value = '';
					nome.value = '';
					telefone.value = '';
					senha.value = '';
					confSenha.value = '';
					acesso.tabIndex = 0;
					select_departamento.tabIndex = 0;
				}else{					
					treatmentErrorResponse(res, 'Funcionário');									
				}
			})
			.catch((error)=>{								
				error = btoa(error);
				window.location.href = 'errorPage?errorDescription='+error				
			});
		}
	</script>
</body>