<head>
    <title>Home</title>    
</head>

<body>
    <div class="text-center display-4 text-danger"> ERRO {{{status}}} </div>

    <div class="row">
        <img src="/imgs/errorImg.png" class="mx-auto col-6">
    </div>

    <div class="text-center text-primary mt-4" style="font-size: x-large; cursor: pointer;">
        <u id="errorBtn" onclick="errorDetails()"> Mais detalhes do erro </u>
    </div>



    <script>
        const querys = getQueryStrings();
        let errorDescription;

        querys.forEach(query =>{
            if(!query[1]){ query[1] = ''; }

            if(query[0] == 'errorDescription'){   
                errorDescription = query[1];
                errorDescription = decodeURI(errorDescription);                                          
            }         
        });


		function errorDetails(){           
			Swal.fire({
                title: 'Erro',                                                                        
                text: errorDescription, 
                icon: 'error',
                confirmButtonText: 'OK'
            });                      
		}
	</script>
</body>