<head>
    <title>Home</title>    
</head>

<body>
    <div class="text-center display-4 text-danger"> ERRO {{{status}}} </div>

    <div class="row">
        <img src="/imgs/errorImg.png" class="mx-auto col-6">
    </div>

    <div class="text-center text-primary mt-4" style="font-size: x-large; cursor: pointer;">
        <u id="errorBtn" onclick="errorDetails()"> Mais detalhes do erro </u>
    </div>



    <script>
        const querys = getQueryStrings();
        if(!key_value[1]){ key_value[1] = ''; }

        if(key_value[0] == 'errorDescription'){   
            errorDescription = key_value[1];
            errorDescription = decodeURI(errorDescription);                          
            errorDescription = JSON.parse(errorDescription);
        }         

		function errorDetails(){           
			Swal.fire({
                        title: 'Erro',                                                                        
                        text: JSON.stringify(errorDescription), 
                        icon: 'error',
                        confirmButtonText: 'OK'
            });                      
		}
	</script>
</body>