<head>
    <title>Home</title>    
</head>

<body>
    <div class="text-center display-4 text-danger"> ERRO </div>

    <div class="row">
        <img src="/imgs/errorImg.png" class="mx-auto col-6">
    </div>

    <div class="text-center text-primary mt-4" style="font-size: x-large; cursor: pointer;">
        <u id="errorBtn" onclick="errorDetails()"> Mais detalhes do erro </u>
    </div>

    <div class="text-center mt-4" style="font-size: large; cursor: pointer;">
        <a href="/" 
            style="padding: 2%; border: 1px solid rgb(46, 123, 238, 0.5); border-radius: 15px; color: #318ce7"
            >VOLTAR AO INÍCIO</a>
    </div>


    <script>
        let error = '';
        const querys = window.location.search.split('?')[1].split('&');
        
        const query = querys[0].split('=');
        if(!query[1]){ query[1] = ''; }

        if(query[0] == 'errorDescription'){   
            error = query[1];
            error = window.atob(error);              

            try{ error = JSON.parse(error); }catch(error){}
        }             

		function errorDetails(){           
			Swal.fire({
                title: 'Erro',                                                                        
                text: JSON.stringify(error.errorDescription) || error, 
                icon: 'error',
                confirmButtonText: 'OK'
            });                      
		}
	</script>
</body>