<head>
    <title>Acesso aos Funcionários</title>
    <link rel="stylesheet" href="/css/StylesInput.css">
</head>

<body>
    <h1 class="display-4 lead text-center">O que deseja fazer ?</h1>

    <div class="row mt-5">
        <div class="mr-auto ml-3 btn btn-primary btn-md col-5"> <a href="/cadFunc"
                class="text-light text-decoration-none">CADASTRAR FUNCIONÁRIO</a> </div>
        <div class="ml-auto mr-3 btn btn-success btn-md col-5"> <a href="/cadDepart"
                class="text-light text-decoration-none">CADASTRAR DEPARTAMENTOS</a> </div>
    </div>
    <div class="row mt-3">
        <div class="mr-auto ml-3 btn btn-primary btn-md col-5"> <a href="/funcionarios"
                class="text-light text-decoration-none">CONSULTAR FUNCIONÁRIOS</a> </div>
        <div class="ml-auto mr-3 btn btn-success btn-md col-5"> <a href="/departamentos"
                class="text-light text-decoration-none">CONSULTAR DEPARTAMENTOS</a> </div>
    </div>
    <div class="row mt-3">
        <div class="mr-auto ml-3 btn btn-primary btn-md col-5"> <a href="/buscaFunc"
                class="text-light text-decoration-none">ALTERAR FUNCIONÁRIO</a> </div>
        <div class="ml-auto mr-3 btn btn-success btn-md col-5"> <a href="/alterarDepart"
                class="text-light text-decoration-none">ALTERAR DEPARTAMENTO</a> </div>
    </div>


    <script src="/jquery/dist/jquery.min.js"> </script>
    <script src="/maskedInputJquery/dist/jquery.maskedinput.min.js"> </script>
    <script src="/masks/masks_cad.js"> </script>
</body>