<head>
    <title>Acesso aos Funcionários</title>
</head>

<body>
    <h1 class="display-4 lead text-center">O que deseja fazer ?</h1>

    <div class="row mt-5">
        <div class="mr-auto ml-3 btn btn-primary btn-md col-5">
            <a href="/page/cadFunc" class="text-light text-decoration-none">CADASTRAR FUNCIONÁRIO</a>
        </div>
        <div class="ml-auto mr-3 btn btn-success btn-md col-5">
            <a href="/page/cadDepart" class="text-light text-decoration-none">CADASTRAR DEPARTAMENTOS</a>
        </div>
    </div>
    <div class="row mt-3">
        <div class="mr-auto ml-3 btn btn-primary btn-md col-5">
            <a href="/page/funcionarios" class="text-light text-decoration-none">CONSULTAR FUNCIONÁRIOS</a>
        </div>
        <div class="ml-auto mr-3 btn btn-success btn-md col-5">
            <a href="/page/departamentos" class="text-light text-decoration-none">CONSULTAR DEPARTAMENTOS</a>
        </div>
    </div>
    <div class="row mt-3">
        <div class="mr-auto ml-3 btn btn-primary btn-md col-5">
            <a href="/page/busca?search=funcionarios" class="text-light text-decoration-none">ALTERAR FUNCIONÁRIO</a>
        </div>
        <div class="ml-auto mr-3 btn btn-success btn-md col-5">
            <a href="/page/busca?search=departamentos" class="text-light text-decoration-none">ALTERAR DEPARTAMENTO</a>
        </div>
    </div>

    <script>
        let cookies = document.cookie; 
        let session = cookies.split('=');

        if(!session[1] || session[1] === 'false'){
            console.log('PRIMEIRO ACESSO')
            let location = window.location.href; 
            fetch(location + 'firstAccess'); 

            let ano = new Date().getFullYear() + 2;
            let data = new Date(ano, 01, 01);                
            data = data.toUTCString();
            document.cookie = 'sessionActive=true; expires='+data; 
        }else{
            console.log('BANCO DE DADOS JÁ CRIADO');
        }
    </script>
    <script src="/jquery/dist/jquery.min.js"> </script>
    <script src="/maskedInputJquery/dist/jquery.maskedinput.min.js"> </script>
    <script src="/masks/masks_cad.js"> </script>
</body>